@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('http://fonts.cdnfonts.com/css/ds-digital');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
*{
  box-sizing: border-box;
}
.caculator{
  width: 333px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.fomula{
  min-height: 20px;
  word-wrap: break-word;
  font-family: 'DS-Digital', sans-serif !important ;
}

.input{
  font-weight: 600;
  line-height: 34px;
  font-size: 28px;
}

.btn{
  outline: 1px solid black;
  position: relative;
  background-color: #4d4d4d;
  font-family: 'Share Tech Mono', monospace;
}

.delete{
  background: rgb(172, 57, 57);
}

.btn:hover{
  outline: 0.05em solid rgb(168, 167, 167);
  color: black;
  z-index: 5;
}

.btn:focus {
  outline: 1px solid black;
}

.equal{
  background-color: rgb(0, 68, 102);
}
